In [1]:
import numpy as np
import pandas as pd

In [2]:
## reading the data file

df = pd.read_csv("advertising.csv")

In [3]:
df.shape

(200, 5)

In [4]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
df = df.iloc[:,1:]

In [6]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [21]:
X, y = df.iloc[:,:-1], df.iloc[:,-1]

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=328043)

In [68]:
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import StackingRegressor,GradientBoostingRegressor, RandomForestRegressor, AdaBoostRegressor

In [69]:
estimators = [
    ('adab',AdaBoostRegressor(DecisionTreeRegressor(max_depth=2,random_state=23873))),
    ('svr',SVR()),
    ('knnr',KNeighborsRegressor(n_neighbors=5,n_jobs=-1))
]

In [70]:
estimator2 = [
    ('lr',Ridge(alpha=2)),
    ('svr',SVR()),
    ('gbr',GradientBoostingRegressor(random_state=349823))
]

In [71]:
reg = StackingRegressor(
    estimators=estimator2,
    final_estimator=RandomForestRegressor(max_depth=3,n_jobs=-1,random_state=90845),
    cv=5
)

In [72]:
final_model = StackingRegressor(
    estimators = estimators,
    final_estimator=reg,
    cv=5
)

In [73]:
final_model.fit(X_train,y_train)

StackingRegressor(cv=5,
                  estimators=[('adab',
                               AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=2,
                                                                                      random_state=23873))),
                              ('svr', SVR()),
                              ('knnr', KNeighborsRegressor(n_jobs=-1))],
                  final_estimator=StackingRegressor(cv=5,
                                                    estimators=[('lr',
                                                                 Ridge(alpha=2)),
                                                                ('svr', SVR()),
                                                                ('gbr',
                                                                 GradientBoostingRegressor(random_state=349823))],
                                                    final_estimator=RandomForestRegressor(max_depth=3,
                                                                                          n_jobs=-1,
                                                                                          random_state=90845)))

In [74]:
y_pred = final_model.predict(X_test)

In [75]:
## creating a function to find the r2 adjusted score 

def r2_adj(r):
    n = df.shape[0]
    m = df.shape[1]
    result = 1 - ((1-r**2)*((n-1)/(n-m-1)))
    return result

In [76]:
from sklearn.metrics import r2_score

print(f"The r2 score of the trained stacking regressor is {np.round(r2_score(y_test,y_pred),4)}")
print(f"The r2 adjusted score of the trained stacking regressor is {np.round(r2_adj(r2_score(y_test,y_pred)),4)}")

The r2 score of the trained stacking regressor is 0.9387
The r2 adjusted score of the trained stacking regressor is 0.8787